html, body {
    margin: 0;
    padding: 0;
}



/* images */ 

.logo {
    width: 150px;
    height: 75px;
    margin: 10px 0px 10px 10px;
}

.user-avatar {
    margin: 10px 10px 10px 0px;
}

.user-avatar, .avatar{
    width: 42px;
    height: 42px;
    border-radius: 50%;
}

.avatar{
    margin: 15px 10px;
}

.post-img{
    width: 100%;
}

/* layout */

.container {
    margin: 0 auto;
    width: 600px;
    background: #ffff;
}

.nav {
    justify-content: space-between;
    border-bottom: 1px solid #c6c6c6;
}

.nav, .post-head{
    display: flex;
    align-items: center;
}

/* meta data styling */

h3, p{
    margin: 0;
}

.likes, 
.caption-bold, 
.name {
    font-weight: 700;
}

.caption-bold{
    font-weight: 700;
}

.likes, .caption{
    margin: 1%;
}

.caption, 
.location{
    font-weight: 400;
}

/* icons */
.icon-heart,
.icon-comment,
.icon-dm{
    width: 5%;
    margin: 1%;
}

.icon-heart:hover,
.icon-heart:focus,
.icon-comment:hover,
.icon-comment:focus,
.icon-dm:hover,
.icon-dm:hover{
    opacity: 0.5;
}

/* photo */
.post{
    padding-bottom: 10px;
}