html, body {
    margin: 0;
    padding: 0;
}

/* images */ 

.logo {
    width: 150px;
    height: 75px;
    margin: 10px 0px 10px 10px;
}

.user-avatar {
    margin: 10px 10px 10px 0px;
}

.user-avatar, .avatar{
    width: 42px;
    height: 42px;
    border-radius: 50%;
}

/* layout */

.container {
    margin: 0 auto;
    width: 600px;
    background: #ffff;
}

.nav {
    justify-content: space-between;
    border-bottom: 1px solid #c6c6c6;
}

.nav, .post-head{
    display: flex;
    align-items: center;
}

/* meta data styling */

.caption-bold{
    font-weight: 700;
}
